* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 0, 0, 0.95);
  font-family: 'montseratt', sans-serif;
  
  padding-top: 25px;
}

.App {
  padding-top: 25px;

  border-radius: 2rem;
  transition: 0.4s ease-out;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

}

.globeContainer {
  max-width: 960px;
  max-height: 700px;
  word-wrap: break-word;
}

@media only screen and (max-width: 960px){
  .container {
    flex-direction: column;
    padding: 5px;
  }
}