* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  font-family: 'montseratt', sans-serif;
  
  padding-top: 25px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 5%;
}

.App {
  padding-top: 25px;
  margin-left: 25%;
  margin-right: 2%;
}

@media only screen and (max-width: 960px){
  .container {
    flex-direction: column;
    padding-right: 0;
  }

  .App {
    margin-left: 0;
    margin-right: 0;
  }
}